@use '../../base'

@mixin button-medium
    font-size: 16px
    line-height: 19.2px
    padding: 7px 40px

@mixin button-big
    font-size: 22px
    padding: 14px 40px

.button
    border-radius: 100px
    width: fit-content

    &:hover
        opacity: 0.6

    &--filled
        background-color: base.$lemon

    &--outlined
        background-color: transparent
        border: 2px solid base.$lemon
        color: base.$lemon

    &--medium
        @include button-big

        @media (max-width: base.$breakpoint-tablet)
            @include button-medium

    &--big
        @include button-big

        @media (max-width: base.$breakpoint-mobile)
            @include button-medium
