@use'./base' as *

.app
    background-color: $primary-black

.content_sections
    background: linear-gradient(196.2deg, #0D1E48 0%, #304571 100%)
    padding: 58px $desktop-left-padding

    @media (max-width: $breakpoint-tablet)
        padding: 58px $tablet-left-padding

    @media (max-width: $breakpoint-mobile)
        padding: 58px min(5vw, $tablet-left-padding)

.offers
    display: flex
    flex-direction: column
    justify-content: center
    align-items: center
    gap: 40px

    &__label
        font-weight: 800
        font-size: 32px
        line-height: 38.4px
        align-self: start

.cards_section
    display: grid
    width: 100%
    gap: 30px
    align-items: stretch
    padding-bottom: 62px

    @media (min-width: $breakpoint-tablet)
        grid-template-columns: 1fr 1fr

        > article:nth-child(4n),
        > article:nth-child(1)
            grid-column: 1 / -1

    @media (max-width: $breakpoint-tablet)
        grid-template-columns: repeat(auto-fill, minmax(290px, 1fr))
        padding: 10px 10px 55px
        justify-items: center

    @media (max-width: $breakpoint-mobile)
        grid-template-columns: 1fr

.footer
    height: 127px

    @include flexCentralAligment
    flex-direction: column

    color: $lemon
    font-weight: 800
    font-size: 18px
    line-height: 28px
